<% provide(:title, 'Edit profile') %>
<h1>Update your profile</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>        
        <%= gravatar_for @user, size:48 %>
        <%= link_to 'Change picture', 'http://www.gravatar.com/emails', 
            :target => '_blank'  %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
   	  <%= render 'user_form', target: @user, form: f %>
      <center>
        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      </center>
    <% end %>
  </div>
</div>
