<% provide(:title, @title ) %>
<% content_for :sidebar do %>
  <%= render 'shared/sidebar', sections:
    [ 'shared/user_info',
      'shared/stats',
      'users/users_wall' ]  %>
<% end %>

<% if @users.any? %>
  <section>    
    <h3><%= @h3_follows %></h3>
    <div class="users-small">
      <ul class="users">          
        <% @users.each do |user| %>
          <li><%= gravatar_for(user, size: 24) %><%= link_to user.name, user %></li>
        <% end %>
      </ul>
    </div>    
  </section>
<% end %>
<% if @user.microposts.any? %>
  <section>      
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts, :param_name => 'microposts_page' %>      
  </section>
<% end %>
  