<% provide(:title, @title ) %>
<% provide(:active_tab, 'microposts' ) %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<% unless @users.blank? %>
  <section>    
    <h3><%= @sub_h3 %></h3>
    <div class="users-small">
      <ul class="users">          
        <% @users.each do |user| %>
          <li><%= gravatar_for(user, size: 24) %><%= link_to user.name, user %></li>
        <% end %>
      </ul>
    </div>    
  </section>
<% end %>
<% unless @microposts.blank? %>
  <section>      
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="model-lists">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts, :param_name => 'microposts_page' %>      
  </section>
<% end %>
  