<div id="month_calendar" class="calendar">
	<table class="table-bordered">	
		<% @calendar.days.each do |day| %>
		<colgroup class="<%= day.strftime('%a') %>"></colgroup>
		<% end %>
		<thead>
			<tr>				
				<% @calendar.days.each do |day| %>
				<th scope="colgroup"><%= day.strftime('%A') %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% today = Date.today %>
			<% @calendar.weeks.each do |week| %>
				<tr class="number">
					<% week.days.each do |date| %>
						<td><%= date.day %></td>
					<% end %>
				</tr>				
				<tr class="day">
					<% week.days.each do |date| %>
					<% if date.month != @shown_month.month %>
					<td class="not-in-month">
					<% elsif date == today %>
					<td class="today">
					<% else %>
					<td>
					<% end %>
						<dl>
						<% week.events_for_date.call(date, limit: 10).each do |event| %>
							<dt class="date"><%= format_time(event.start_at) %></dt>
							<dd class="title"><%= link_show_event(event) { |e| e.title } %></dd>
						<% end %>
						</dl>
					</td>
					<% end %>
				</tr>
			<% end %>			
		</tbody>
	</table>
</div>
