<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "screen, print" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
          
    <% if content_for?(:sidebar) %>
      <div class="container-fluid">
        <div class="row-fluid">
          <div id="sidebar" class="span3">
            <%= yield(:sidebar) %>
          </div>
          <div id="main"class="span8">
            <%= render 'layouts/top_navi', active: yield(:active_tab) %>
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div id="main" class="container">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>      
    <% end %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>  
</html>